.movie{
	background-color: #f8f9fa;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: auto;
    margin-top: 5%;
    justify-content: center;
    align-content: center;
    width: 50%;
}

.movie img{
	width: 100%;
}

.icon{
    color: whitesmoke;
    font-size: 40px;
}
